### Импорты

In [1]:
import pandas as pd
from pandas import *
import numpy as np
import matplotlib.pyplot as plt

### Чтение данных из файла в датафрейм

In [2]:
data = pd.read_csv(
    'data/Energy_and_Water_Data_Disclosure_for_Local_Law_84_2017__Data_for_Calendar_Year_2016_.csv'
)

### Верхние 5 строк

In [3]:
data.head()

,Order,Property Id,Property Name,Parent Property Id,Parent Property Name,BBL - 10 digits,"NYC Borough, Block and Lot (BBL) self-reported",NYC Building Identification Number (BIN),Address 1 (self-reported),Address 2,...,Source EUI (kBtu/ft²),Release Date,Water Required?,DOF Benchmarking Submission Status,Latitude,Longitude,Community Board,Council District,Census Tract,NTA
0,1,13286,201/205,13286,201/205,1013160001,1013160001,1037549,201/205 East 42nd st.,Not Available,...,619.4,05/01/2017 05:32:03 PM,No,In Compliance,40.750791,-73.973963,6.0,4.0,88.0,Turtle Bay-East Midtown ...
1,2,28400,NYP Columbia (West Campus),28400,NYP Columbia (West Campus),1021380040,1-02138-0040,1084198; 1084387;1084385; 1084386; 1084388; 10...,622 168th Street,Not Available,...,404.3,04/27/2017 11:23:27 AM,No,In Compliance,40.841402,-73.942568,12.0,10.0,251.0,Washington Heights South ...
2,3,4778226,MSCHoNY North,28400,NYP Columbia (West Campus),1021380030,1-02138-0030,1063380,3975 Broadway,Not Available,...,Not Available,04/27/2017 11:23:27 AM,No,In Compliance,40.840427,-73.940249,12.0,10.0,251.0,Washington Heights South ...
3,4,4778267,Herbert Irving Pavilion & Millstein Hospital,28400,NYP Columbia (West Campus),1021390001,1-02139-0001,1087281; 1076746,161 Fort Washington Ave,177 Fort Washington Ave,...,Not Available,04/27/2017 11:23:27 AM,No,In Compliance,40.840746,-73.942854,12.0,10.0,255.0,Washington Heights South ...
4,5,4778288,Neuro Institute,28400,NYP Columbia (West Campus),1021390085,1-02139-0085,1063403,710 West 168th Street,Not Available,...,Not Available,04/27/2017 11:23:27 AM,No,In Compliance,40.841559,-73.942528,12.0,10.0,255.0,Washington Heights South ...

### Отображение информации о колонках фрейма

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11746 entries, 0 to 11745
Data columns (total 60 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Order                                                       11746 non-null  int64
 1   Property Id                                                 11746 non-null  int64
 2   Property Name                                               11746 non-null  object
 3   Parent Property Id                                          11746 non-null  object
 4   Parent Property Name                                        11746 non-null  object
 5   BBL - 10 digits                                             11735 non-null  object
 6   NYC Borough, Block and Lot (BBL) self-reported              11746 non-null  object
 7   NYC Building Identification Number (BIN)                    11746 non-null  object
 8   Address 1 (self-reported)                                   11746 non-null  object
 9   Address 2                                                   11746 non-null  object
 10  Postal Code                                                 11746 non-null  object
 11  Street Number                                               11622 non-null  object
 12  Street Name                                                 11624 non-null  object
 13  Borough                                                     11628 non-null  object
 14  DOF Gross Floor Area                                        11628 non-null  float64
 15  Primary Property Type - Self Selected                       11746 non-null  object
 16  List of All Property Use Types at Property                  11746 non-null  object
 17  Largest Property Use Type                                   11746 non-null  object
 18  Largest Property Use Type - Gross Floor Area (ft²)          11746 non-null  object
 19  2nd Largest Property Use Type                               11746 non-null  object
 20  2nd Largest Property Use - Gross Floor Area (ft²)           11746 non-null  object
 21  3rd Largest Property Use Type                               11746 non-null  object
 22  3rd Largest Property Use Type - Gross Floor Area (ft²)      11746 non-null  object
 23  Year Built                                                  11746 non-null  int64
 24  Number of Buildings - Self-reported                         11746 non-null  int64
 25  Occupancy                                                   11746 non-null  int64
 26  Metered Areas (Energy)                                      11746 non-null  object
 27  Metered Areas  (Water)                                      11746 non-null  object
 28  ENERGY STAR Score                                           11746 non-null  object
 29  Site EUI (kBtu/ft²)                                         11746 non-null  object
 30  Weather Normalized Site EUI (kBtu/ft²)                      11746 non-null  object
 31  Weather Normalized Site Electricity Intensity (kWh/ft²)     11746 non-null  object
 32  Weather Normalized Site Natural Gas Intensity (therms/ft²)  11746 non-null  object
 33  Weather Normalized Source EUI (kBtu/ft²)                    11746 non-null  object
 34  Fuel Oil #1 Use (kBtu)                                      11746 non-null  object
 35  Fuel Oil #2 Use (kBtu)                                      11746 non-null  object
 36  Fuel Oil #4 Use (kBtu)                                      11746 non-null  object
 37  Fuel Oil #5 & 6 Use (kBtu)                                  11746 non-null  object
 38  Diesel #2 Use (kBtu)                                        11746 non-null  object
 39  District Steam Use (kBtu)                                   11746 non-null  object
 40  Natural Gas Use (kBtu)                                      11746 non-null  object
 41  Weather Normalized Site Natural Gas Use (therms)            11746 non-null  object
 42  Electricity Use - Grid Purchase (kBtu)                      11746 non-null  object
 43  Weather Normalized Site Electricity (kWh)                   11746 non-null  object
 44  Total GHG Emissions (Metric Tons CO2e)                      11746 non-null  object
 45  Direct GHG Emissions (Metric Tons CO2e)                     11746 non-null  object
 46  Indirect GHG Emissions (Metric Tons CO2e)                   11746 non-null  object
 47  Property GFA - Self-Reported (ft²)                          11746 non-null  int64
 48  Water Use (All Water Sources) (kgal)                        11746 non-null  object
 49  Water Intensity (All Water Sources) (gal/ft²)               11746 non-null  object
 50  Source EUI (kBtu/ft²)                                       11746 non-null  object
 51  Release Date                                                11746 non-null  object
 52  Water Required?                                             11628 non-null  object
 53  DOF Benchmarking Submission Status                          11716 non-null  object
 54  Latitude                                                    9483 non-null   float64
 55  Longitude                                                   9483 non-null   float64
 56  Community Board                                             9483 non-null   float64
 57  Council District                                            9483 non-null   float64
 58  Census Tract                                                9483 non-null   float64
 59  NTA                                                         9483 non-null   object
dtypes: float64(6), int64(6), object(48)
memory usage: 5.4+ MB

### Замена всех "Not available" данных на NaN

In [5]:
data = data.replace({'Not Available': np.nan})

### Конвертация всех данных, имеющих числовой смысл, но хранящихся не как числа в тип float.

In [6]:
for col in list(data.columns):
    if ('ft²' in col or 'kBtu' in col or 'Metric Tons CO2e' in col or 'kWh' in
    col or 'therms' in col or 'gal' in col or 'Score' in col):
        data[col] = data[col].astype(float)

### Определение колонок, имеющих отсутствующие данные

In [7]:
def missing_values_table(df) -> DataFrame:
        """
        Функция для расчета количества и процента отсутствующих значений для каждой колонки
        :param df: датафрейм
        :return: таблица с количеством и процентом отсутствующих значений для каждой колонки
        """
        # Общее число отсутствующих значений 
        mis_val = df.isnull().sum()
        
        # Процент от общего числа значений
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Таблица с результатами расчета
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Переименование колонок
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Сортировка по проценту отсутствующих значений
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Вывод информации
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Возврат таблицы с отсутствующими значениями
        return mis_val_table_ren_columns

missing_values_table(data)

Your selected dataframe has 60 columns.
There are 46 columns that have missing values.

,Missing Values,% of Total Values
Fuel Oil #1 Use (kBtu),11737,99.9
Diesel #2 Use (kBtu),11730,99.9
Address 2,11539,98.2
Fuel Oil #5 & 6 Use (kBtu),11152,94.9
District Steam Use (kBtu),10810,92.0
Fuel Oil #4 Use (kBtu),10425,88.8
3rd Largest Property Use Type - Gross Floor Area (ft²),10262,87.4
3rd Largest Property Use Type,10262,87.4
Fuel Oil #2 Use (kBtu),9165,78.0
2nd Largest Property Use Type,8005,68.2
2nd Largest Property Use - Gross Floor Area (ft²),8005,68.2
Metered Areas (Water),4609,39.2
Water Intensity (All Water Sources) (gal/ft²),3984,33.9
Water Use (All Water Sources) (kgal),3984,33.9
Latitude,2263,19.3
Longitude,2263,19.3
Community Board,2263,19.3
Council District,2263,19.3
Census Tract,2263,19.3
NTA,2263,19.3
ENERGY STAR Score,2104,17.9
Weather Normalized Site Natural Gas Intensity (therms/ft²),1963,16.7
Weather Normalized Site Natural Gas Use (therms),1962,16.7
Weather Normalized Source EUI (kBtu/ft²),1465,12.5
Weather Normalized Site EUI (kBtu/ft²),1465,12.5
Natural Gas Use (kBtu),1442,12.3
Weather Normalized Site Electricity Intensity (kWh/ft²),787,6.7
Weather Normalized Site Electricity (kWh),786,6.7
Electricity Use - Grid Purchase (kBtu),244,2.1
Site EUI (kBtu/ft²),163,1.4
Source EUI (kBtu/ft²),163,1.4
NYC Building Identification Number (BIN),162,1.4
Street Number,124,1.1
Street Name,122,1.0
Borough,118,1.0
DOF Gross Floor Area,118,1.0
Water Required?,118,1.0
Direct GHG Emissions (Metric Tons CO2e),83,0.7
Total GHG Emissions (Metric Tons CO2e),74,0.6
Indirect GHG Emissions (Metric Tons CO2e),65,0.6
Metered Areas (Energy),57,0.5
DOF Benchmarking Submission Status,30,0.3
"NYC Borough, Block and Lot (BBL) self-reported",11,0.1
BBL - 10 digits,11,0.1
Largest Property Use Type,2,0.0
Largest Property Use Type - Gross Floor Area (ft²),2,0.0

### Удаление колонок, имеющих более 50% отсутствующих данных

In [8]:
# Колонки с более чем 50% отсутствующих значений
missing_df = missing_values_table(data)
missing_columns = list(missing_df[missing_df['% of Total Values'] > 50].index)
print('We will remove %d columns.' % len(missing_columns))
# Удаление
data = data.drop(columns = list(missing_columns))

Your selected dataframe has 60 columns.
There are 46 columns that have missing values.
We will remove 11 columns.

In [10]:
data.info() # было 59 колонок, стало 48 -- удалили 11

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11746 entries, 0 to 11745
Data columns (total 49 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Order                                                       11746 non-null  int64
 1   Property Id                                                 11746 non-null  int64
 2   Property Name                                               11746 non-null  object
 3   Parent Property Id                                          11746 non-null  object
 4   Parent Property Name                                        11746 non-null  object
 5   BBL - 10 digits                                             11735 non-null  object
 6   NYC Borough, Block and Lot (BBL) self-reported              11735 non-null  object
 7   NYC Building Identification Number (BIN)                    11584 non-null  object
 8   Address 1 (self-reported)                                   11746 non-null  object
 9   Postal Code                                                 11746 non-null  object
 10  Street Number                                               11622 non-null  object
 11  Street Name                                                 11624 non-null  object
 12  Borough                                                     11628 non-null  object
 13  DOF Gross Floor Area                                        11628 non-null  float64
 14  Primary Property Type - Self Selected                       11746 non-null  object
 15  List of All Property Use Types at Property                  11746 non-null  object
 16  Largest Property Use Type                                   11744 non-null  object
 17  Largest Property Use Type - Gross Floor Area (ft²)          11744 non-null  float64
 18  Year Built                                                  11746 non-null  int64
 19  Number of Buildings - Self-reported                         11746 non-null  int64
 20  Occupancy                                                   11746 non-null  int64
 21  Metered Areas (Energy)                                      11689 non-null  object
 22  Metered Areas  (Water)                                      7137 non-null   object
 23  ENERGY STAR Score                                           9642 non-null   float64
 24  Site EUI (kBtu/ft²)                                         11583 non-null  float64
 25  Weather Normalized Site EUI (kBtu/ft²)                      10281 non-null  float64
 26  Weather Normalized Site Electricity Intensity (kWh/ft²)     10959 non-null  float64
 27  Weather Normalized Site Natural Gas Intensity (therms/ft²)  9783 non-null   float64
 28  Weather Normalized Source EUI (kBtu/ft²)                    10281 non-null  float64
 29  Natural Gas Use (kBtu)                                      10304 non-null  float64
 30  Weather Normalized Site Natural Gas Use (therms)            9784 non-null   float64
 31  Electricity Use - Grid Purchase (kBtu)                      11502 non-null  float64
 32  Weather Normalized Site Electricity (kWh)                   10960 non-null  float64
 33  Total GHG Emissions (Metric Tons CO2e)                      11672 non-null  float64
 34  Direct GHG Emissions (Metric Tons CO2e)                     11663 non-null  float64
 35  Indirect GHG Emissions (Metric Tons CO2e)                   11681 non-null  float64
 36  Property GFA - Self-Reported (ft²)                          11746 non-null  float64
 37  Water Use (All Water Sources) (kgal)                        7762 non-null   float64
 38  Water Intensity (All Water Sources) (gal/ft²)               7762 non-null   float64
 39  Source EUI (kBtu/ft²)                                       11583 non-null  float64
 40  Release Date                                                11746 non-null  object
 41  Water Required?                                             11628 non-null  object
 42  DOF Benchmarking Submission Status                          11716 non-null  object
 43  Latitude                                                    9483 non-null   float64
 44  Longitude                                                   9483 non-null   float64
 45  Community Board                                             9483 non-null   float64
 46  Council District                                            9483 non-null   float64
 47  Census Tract                                                9483 non-null   float64
 48  NTA                                                         9483 non-null   object
dtypes: float64(24), int64(5), object(20)
memory usage: 4.4+ MB